<hr>
<div class="p-3 bg-dark text-white">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <p>ADDRESS:</p>
        </div>
      </div>
      <div class="row" style="margin-top: -20px;">
        <div class="col-12">
          <p>Lower Empire, Payatas Rd. Payatas, Quezon City</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12 text-center">
          <a href="https://www.facebook.com/harvestersqc"><i class='fab fa-facebook fa-2x mr-1'></i></a>
          <a href="https://www.facebook.com/harvestersqc"><i class='fab fa-instagram fa-2x mr-1'></i></a>
          <a href="https://www.facebook.com/harvestersqc"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p>Copyright @ Harvester 2020</p>
        </div>
      </div>
    </div>
  </div>
</div>