<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="https://images.pexels.com/photos/5103656/pexels-photo-5103656.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="Random first slide" height="600" width="100%" style="object-fit: cover;">
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Wrappixel Makes the best templates</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="https://images.pexels.com/photos/3048196/pexels-photo-3048196.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="Random second slide" height="600" width="100%" style="object-fit: cover;">
        </div>
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>I am Sunil, I can give you cool Frontend Templates and Tips</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="https://images.pexels.com/photos/6010/sea-beach-holiday-vacation.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="Random third slide" height="600" width="100%" style="object-fit: cover;">
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>