<div class="card-deck mt-3">
    <div class="card">
        <img class="card-img-top" src="..." alt="Harvester">
        <div class="card-body">
          <h5 class="card-title">YESHUA HARVESTER CHURCH</h5>
          <p class="card-text">Yeshua harvester church is a non-sectarian full-gospel christian church.</p>
        </div>
      </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/vision.png" alt="Vision">
      <div class="card-body">
        <h5 class="card-title">VISION</h5>
        <p class="card-text">To win souls and make disciples.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/mission.png" alt="Mission">
      <div class="card-body">
        <h5 class="card-title">MISSION</h5>
        <p class="card-text">To make every believer a leader of leaders.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/img/goal.jpg" alt="Goal">
      <div class="card-body">
        <h5 class="card-title">GOAL</h5>
        <p class="card-text">To love God and to love people</p>
      </div>
    </div>
  </div>