<section>
  <app-navbar></app-navbar>
</section>
<section>
  <p class="text-center">
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> This site is under development.
    </ngb-alert>
  </p>
</section>
<section style="margin-top: -16px;">
  <app-carousel></app-carousel>
</section>

<section>
  <app-about-us></app-about-us>
</section>

<section>
  <div class="p-3">
    <div class="row">
      <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fharvestersqc%2Fvideos%2F206294444279186%2F&show_text=false&width=560" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
    </div>
  </div>
</section>

<section>
  <app-footer></app-footer>
</section>